interface AutoBuyConfig {
  titles: {
    size: number; // how many contracts you want to buy
    name: string; // Set this however you want, just for better logs
    productId: string; // get this id from the url in desktop web app, e.g. "https://trader.degiro.nl/beta-trader/#/products/16143345/overview"
  }[];
  investCurrencyCode: string;
}

const autoBuyConfig: AutoBuyConfig = {
  investCurrencyCode: 'EUR',
  titles: [
    {
      name: 'MULTI NASDAQ 100',
      productId: '15537117',
      size: 5,
    },
    {
      name: 'VanEck Vectors VideoGaming&eSports',
      productId: '16143345',
      size: 5,
    },
  ],
};

export default autoBuyConfig;
